
body {
    margin: 1em auto;
    max-width: 54em;
    padding: 0 .62em;
    line-height: 1.6;
    font-size: 1.5ex;
    font: 1.2em/1.62 sans-serif;
    color: #444;
    background-color: #fcfcfc;
}

div {
    display: block;
}

h1 {
    font-size: 1.6em;
}

h1,h2,h3 {
    line-height: 1.2;
}

@media print { 
    body { max-width: none }
}

a {
    text-decoration: none;
    /*padding: 0.5ex;*/
}

a.space::after {
    content: " ";
    white-space: pre;
}

a.space::before {
    content: " ";
    white-space: pre;
}

a[href] {
    color: #003072;
}

a:hover {
    background-color: #bbb;
}

a[href]:hover {
    color: #00286c;
}

article {
    border-bottom: 1px solid #dadada;
    background-color: #ebebeb;
    padding: 0.5ex 2ex;
    margin-bottom: 1em;
}

header {
    margin-bottom: 1ex;
}

header p {
    color: #777;
}

aside {
    font-size: 1.1em;
    margin-bottom: -1.25ex;
}

#header {
    clear: both;
    color: #666;
    font-size: 2ex;
    font-weight: bold;
    margin-left: 1em;
    display: block;
}

#headerSubtitle {
    clear: both;
    color: #777;
    font-size: 1.3ex;
    margin-left: 2em;
    font-style: none;
}

#header a {
    margin-left: 0;
    margin-right: 0;
}

#title-yellow {
    font-size: 110%;
    color: #eec300;
}

#menu {
    clear: both;
    overflow: hidden;
    background-color: #ddd;
    font-size: 1.6ex;
    padding: 0.2ex;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 1ex;
}

#menu a {
    padding: 0.5ex;
}

#menu a.thisSite {
    font-size: 2ex;
    font-weight: bold;
}

#nav {
    float: right;
    width: 25%;
}

#nav ul {
    list-style-type: square;
}

#content {
    float: left;
    width: 72.5%;
    margin: 1.25%;
    text-align: justify;
}

#footer {
    float: left;
    width: 100%;
    color: #777;
    font-size: 80%;
}

.left {
    float: left;
    margin: 0;
    padding: 0;
}

.right {
    float: right;
    margin: 0;
    padding: 0;
}

.list-none {
    list-style-type: none;
}

.list-square {
    list-style-type: square;
}

.verbatim {
    font-family: monospace;
    background-color: #e0e0e0;
}
